{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}
{% block content %}

		<div class="pl-5 pb-5">
			<form  method="POST"  class="img-thumbnail">
			{% csrf_token %}
					<fieldset class="form-group">
						<legend class="border-bottom mb-4 text-center text-info"><p>Enregistrer Un nouveau Utilisateur</p></legend>
						<div class="row">
							<div class="col-sm-6 col-6 offset-sm-3">
								
									{{ form|crispy }} <!-- as_p: permet d'aligner les explik input -->
							
							</div>
						
					</fieldset>
						<div class="col-sm-6 col-12 offset-sm-3 form-group">
								
									<button type="submit" class="btn btn-outline-primary btn-block">S'inscrire</button>
							
						</div>

						<div class="border-top pt-2">
					<small class="text-muted">N'avez-vous pas un compte ? 
						<a href="{% url 'user-register' %}" title="" class="ml-2">Creer un compte</a>
					</small>
				</div>
				</form>
				
		</div>
{% endblock %}