{% extends 'blog/base.html' %}
{% block content %}

		<div class="content-section">
			<form  method="POST"  class="img-thumbnail">
			{% csrf_token %}
					<fieldset class="form-group">
						<legend class="border-bottom mb-4">Enregistrer Un nouveau Utilisateur</legend>
						<div class="row">
							<div class="col-sm-6 col-12 offset-sm-3">
								
									{{form}} <!-- as_p: permet d'aligner les explik input -->
							
							</div>
						</div>
					</fieldset>
						<div class="col-sm-6 col-12 offset-sm-3 form-group">
								
									<button type="submit" class="btn btn-outline-primary btn-block">S'inscrire</button>
							
						</div>

						<div class="border-top pt-2">
					<small class="text-muted">Avez-vous deja un compte ? 
						<a href="#" title="" class="ml-2">Connectez-vous</a>
					</small>
				</div>
				</form>
				
		</div>
{% endblock %}