	body{
				background-color:#fafafa;
				font-family: 'Helvetica';
				margin: auto;
				padding: auto;
				color:#333333;
				text-decoration: none;

	        }
	        h1,h2,h3,h4,h5,h6{
	        	color: #444444;
	        }
	        .navbar-nav .nav-link{
	        	color:white;
	        }
	        a{
	        	text-decoration: none;
	        }
	      .navbar .navbar-expand-lg .navbar-light{
	      	background-color:blue;
	      }
	