	body{
				background-color:#fafafa;
				font-family: arial,"sans serif";
				margin: auto;
				padding: auto;
				color:#333333;

	        }
	        h1,h2,h3,h4,h5,h6{
	        	color: #444444;
	        }
	        .navbar-nav .nav-link{
	        	color:#cbd5db;
	        }

	